
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Занимает всю высоту экрана */
}

.button {
    background-color: #4CAF50; /* Зеленый цвет */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049; /* Темно-зеленый цвет при наведении */
}

.button:active {
    background-color: #3e8e41; /* Темно-зеленый цвет при нажатии */
}