{% extends 'form_template.html' %}

{% block title %}Create Patient{% endblock %}

{% block form_action %}{% url 'create_patient' %}{% endblock %}

{% block submit_method %}post{% endblock %}

{% block form_fields %}
    <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    <br>
    <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" required>
    <br>
    <label for="middlename">Middle Name:</label>
        <input type="text" id="middlename" name="middlename">
    <br>
    <label for="email">Email:</label>
        <input type="email" id="email" name="email">
    <br>
    <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday">
    <br>
    <label for="gender">Gender:</label>
    <select id="gender" name="gender">
        <option value="1">Male</option>
        <option value="2">Female</option>
    </select>
    <br>
    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone">
    <br>
    <label for="iin">IIN:</label>
    <input type="text" id="iin" name="iin">
{% endblock %}