{% extends 'form_template.html' %}


{% block title %}Select Specialties{% endblock %}

{% block form_action %}{% url 'select_specialties' %}{% endblock %}

{% block submit_method %}get{% endblock %}

{% block form_fields %}
  <h2>Select Specialties Form</h2>
  <form action="{% url 'select_specialties' %}" method="get">
    {% csrf_token %}
    <label for="company_code">Company Code:</label>
    <input type="text" id="company_code" name="company_code" required>
    <button type="submit">Submit</button>
  </form>
{% endblock %}
