{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Form Page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <form action="{% block form_action %}#{% endblock %}" method="{% block submit_method %}#{% endblock %}">
            {% csrf_token %}
            {% block form_fields %}{% endblock %}
            <button type="submit" class="button">Submit</button>
        </form>
        <a href="{% url 'first_page' %}" class="button">Back</a>
    </div>
</body>
</html>
