{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Example</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <form action="{% url 'create_patient' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="button">SEND CREATE PATIENT REQUEST</button>
        </form>

        <form action="{% url 'create_reception' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="button">SEND CREATE RECEPTION REQUEST</button>
        </form>

        <form action="{% url 'search_reception' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="button">SEND SEARCH RECEPTION REQUEST</button>
        </form>

        <form action="{% url 'search_patient' %}" method="get">
            <button type="submit" class="button">SEND SEARCH PATIENT REQUEST</button>
        </form>

        <form action="{% url 'time_table' %}" method="get">
            <button type="submit" class="button">SEND TIME TABLE REQUEST</button>
        </form>

        <form action="{% url 'select_specialties' %}" method="get">
            <button type="submit" class="button">SEND SELECT SPECIALTIES REQUEST</button>
        </form>
    </div>
</body>
</html>