{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedElement Main</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>MedElement Requests</h1>
        <form action="{% url 'create_patient_form' %}" method="get">
            <button type="submit" class="button">Create Patient</button>
        </form>
        <form action="{% url 'create_reception_form' %}" method="get">
            <button type="submit" class="button">Create Reception</button>
        </form>
        <form action="{% url 'search_reception_form' %}" method="get">
            <button type="submit" class="button">Search Reception</button>
        </form>
        <form action="{% url 'search_patient_form' %}" method="get">
            <button type="submit" class="button">Search Patient</button>
        </form>
        <form action="{% url 'time_table_form' %}" method="get">
            <button type="submit" class="button">Time Table</button>
        </form>
        <form action="{% url 'select_specialties_form' %}" method="get">
            <button type="submit" class="button">Select Specialties</button>
        </form>
    </div>
</body>
</html>